.empty-msg {
  color: red;
}

input[type=text].empty {
  color: red;
  border: 2px solid red;
}

.no-empty-msg {
  color: green;
}

input[type=text].no-empty  {
  color: green;
  border: 2px solid green;
}
